doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Simple Math
    link(rel="stylesheet", href="style.css")
  body
    h1 Simple math
    h2 Adding Numbers
    .add-numbers
    //- script(src="/asset/js/math.js")
    script
      include _asset/js/math.js
