.add-numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.row {
  white-space: nowrap;
  justify-self: flex-end;

  span {
    font-size: 2rem;
  }
}

.error {
  background: #c00;
  color: #fff
}

.success {
  background: #0c0;
  color: #fff
}

.input-text {
  padding: 1rem
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.row button {
  padding: 1rem
}
